$text-size: 16px;
$title-size: 19px;
$brand-size: 40px;
$font-style: 400;
$text-color: white;
$bg-color: #1E2127;
$red: #DA1212;

.movieCard {
  background-color: $bg-color !important;
  color: $text-color;
  border: 5px solid $red;
  border-radius: 20px;
  font-size: $text-size;
}

#cardButton{
  color: $red;
}