$text-size: 16px;
$title-size: 19px;
$brand-size: 40px;
$font-style: 400;
$text-color: white;
$bg-color: #1E2127;
$red: #DA1212;

.movieCard {
  background-color: $bg-color !important;
  color: $text-color;
  border: 2px solid $red !important;
  font-size: $text-size;
}
.movieCard-img{
  max-height: 500px;

}

.cardTitle{
  min-height: 50px;
}

.cardText{
  min-height: 100px;
}
