
$text-size: 1em;
$title-size: 1.3em;
$brand-size: 2em;
$font-style: 400;
$text-color: white;
$bg-color: #1E2127;
$red: #DA1212;


.movieCard {
  background-color: $bg-color !important;
  color: $text-color;
  border: 2px solid $red !important;
  
}
.movieCard-img{
  max-height: 350px;
}

.cardTitle{
  min-height: 50px;
}

.cardText{
  min-height: 100px;
  margin: 0;
  padding-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.movieCard-body{
  margin-bottom: 0;
  padding-bottom: 0 !important;
}

.movieCard-footer{
  margin: 0 auto;
}

#button-link{
  display: block;
  margin: auto;
  //text-align: bottom;
}

#card-button{
  color: $red !important;
  vertical-align: bottom;
  text-align: center;
  margin: auto;
}
