$text-size: 18px;
$title-size: 23px;
$brand-size: 35px;
$font-style: 400;
$text-color: white;
$bg-color: #1E2127;
$red: #DA1212;


.genre-text{
  color: $text-color !important;
}

.accordion-header{
  font-size: $text-size !important;

}

.accordion-button{
  background-color: $bg-color;
 color: $text-color;
 width: 100%;
 border: none;
text-align: left;
}
