$text-size: 18px;
$title-size: 23px;
$brand-size: 35px;
$font-style: 400;
$text-color: white;
$bg-color: #1E2127;
$red: #DA1212;


.register-title{
  color: $red !important;
}

.register-text{
  color: $text-color !important;
}
