$text-size: 18px;
$title-size: 23px;
$brand-size: 35px;
$font-style: 400;
$text-color: white;
$bg-color: #1E2127;
$red: #DA1212;

.background-image{
  background-color: $bg-color;
  background-image: linear-gradient(to right, rgba(30, 33, 39, 0.3), rgba(30, 33, 39, 0.6), rgba(30, 33, 39, 0.3)), url('../../assets/background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.register-title{
  color: $red !important;
}

.register-text{
  color: $text-color !important;
}
