$text-size: 18px;
$title-size: 23px;
$brand-size: 35px;
$font-style: 400;
$text-color: white;
$bg-color: #1E2127;
$red: #DA1212;

.background-color{
  background-color: $bg-color;
}

.profile-title{
  color: $red !important;
}

.profile-text{
  color: $text-color !important;
}

.fav-movie{
  margin-bottom: 5px;
  
  figure{
  
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto;
    align-items: center;
    
    img{
      height: 300px;
      display: block;
      margin: auto;
    }
  }

}

.profile-btn{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  
}
