$text-size: 18px;
$title-size: 21px;
$brand-size: 40px;
$font-style: 400;
$text-color: white;
$bg-color: #1E2127;
$red: #DA1212;

#main-nav{
  color: $red !important;
  background-color: black !important;
}

#appName{
  color: $red;
  font-size: 40px;
  font-weight: 600;
}

.navbar-link{
  color: #DA1212 !important;
  font-size: 18px;
}

.navbar-button{
  margin-left: 1em;
}

.toggle{
  color: #DA1212 !important;
}

