$text-size: 18px;
$title-size: 21px;
$brand-size: 40px;
$text-color: white;
$bg-color: #1E2127;
$red: #DA1212;

body{
  background-color: $bg-color !important;
}

.login-title{
  line-height: 2.5em;
}

.intro-text{
  font-size: $text-size;
}

.login-container{
  color: $text-color;
}

#login-form{
  background-color: $bg-color !important;
  font-size: $text-size;
  color: white;
}

.link{
  color: red !important;
}

.submit-button{
  font-size: $text-size;
  margin-right: 1em;
  margin-bottom: 1em;
}