$text-size: 18px;
$title-size: 21px;
$brand-size: 40px;
$text-color: white;
$bg-color: #1E2127;
$red: #DA1212;

/*body{
  background-color: $bg-color !important;
  background-image: linear-gradient(to right, rgba(30, 33, 39, 0.3), rgba(30, 33, 39, 0.6), rgba(30, 33, 39, 0.3)), url('../../assets/background-image2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}*/


.background-image{
  background-color: $bg-color;
  background-image: linear-gradient(to right, rgba(30, 33, 39, 0.3), rgba(30, 33, 39, 0.6), rgba(30, 33, 39, 0.3)), url('../../assets/background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
/*
.login-title{
  line-height: 2.5em;
}*/

.intro-text{
  /*font-size: $text-size;*/
  text-align: center;
}

.login-card{
  color: $text-color;
  background-color: $bg-color;
  /*padding: 15px;*/
  /*margin: auto;*/
  /*border-radius: 5px;*/
  border: 2px solid $red; 
  opacity: 0.9;
  box-shadow: 0 0 0.9em $red;

}

.card-header{
  border: none;
  font-size: 1.2rem;
}

.login-request{
  font-size: 1.2rem;
}

.reg-request{
  text-align: center;
}

.link{
  color: red !important;
}

.submit-button{
  /*font-size: $text-size;*/
  /*margin-right: 1em;*/
  /*margin-bottom: 1em;*/
  display: block;
  margin: auto;
}